html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  position: relative;
}

/*Text*/
.wrapper{
  color: #40414c;
  padding: 10px;
}
p.selected {
  background-color: #ccc;
  padding: 10px;
}
 
p.dif {
  background-color: #aaa;
  margin-top: 10px;
}


/* Our popup */

button{
  border-radius: 5px;
  background-color: rgba(74, 73, 73, 0.2);
  vertical-align: middle;
}

.highlightMenu {
  background-image: linear-gradient(to bottom,rgba(49,49,47,.99), #31312d);
  background-repeat: repeat-x;
  border-radius: 5px;
  left: 50%;
  opacity: 0;
  padding: 0 15px;
  position: absolute;
  top: 20%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease;
}

.highlightMenu-popup * {
  border: none;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  font-family: 'Itim', cursive;
  font-size: 1.1rem;
  font-weight: inherit;
  margin: 7px 3px 7px;
  padding: 5px 15px;
  text-align: center;
}

.highlightMenu-arrowWrap{
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  position: absolute;
}
.highlightMenu-arrow{
  background-color: #31312d;
  display: block;
  height: 20px;
  position: relative;
  width: 20px;
  transform: rotate(45deg) scale(.5);
}

.reveal {
  opacity: 1;
}
